<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>SamimeInputMethod</string>
    <key>CFBundleIdentifier</key>
    <string>com.samime.inputmethod</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Samime Input Method</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>InputMethodConnectionName</key>
    <string>SamimeInputMethod_1_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>SamimeInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>SamimeInputController</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hant</string>
        <string>Hans</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>icon.icns</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.samime.inputmethod.pinyin</key>
            <dict>
                <key>tsInputModeAlternateMenuIconFileKey</key>
                <string>icon.icns</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>4608</integer>
                <key>tsInputModeMenuIconFileKey</key>
                <string>icon.icns</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>icon.icns</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smSimpChinese</string>
            </dict>
        </dict>
        <key>tsInputModePrimaryInScriptKey</key>
        <string>smSimpChinese</string>
        <key>tsInputModePaletteIconFileKey</key>
        <string>icon.icns</string>
        <key>tsInputModeScriptKey</key>
        <string>smSimpChinese</string>
        <key>tsInputModeAlternateMenuIconFileKey</key>
        <string>icon.icns</string>
        <key>tsInputModeIsVisibleKey</key>
        <true/>
        <key>tsInputModeMenuIconFileKey</key>
        <string>icon.icns</string>
        <key>tsInputModeDefaultStateKey</key>
        <true/>
        <key>tsInputModeKeyEquivalentKey</key>
        <string></string>
        <key>tsInputModeKeyEquivalentModifiersKey</key>
        <integer>4608</integer>
    </dict>
</dict>
</plist>
